@model List<ProductBox>

<style>
	. .price {
		color: red;
		text-align: center;
		width: 320px;
	}

	.product {
		display: inline /*-block*/;
	}

	#products {
		padding-top: 50px;
	}


	.card {
		display: inline-block;
		margin-left: 50px;
	}

	#products .card {
		width: 320px;
		height: 320px;
		border-radius: 20px;
		overflow: hidden;
	}

		#products .card .imgBx {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			z-index: 1000;
			width: 100%;
			height: 100%;
			transition: .5s;
		}

			#products .card .imgBx img {
				position: absolute;
				left: -1.5%;
				width: 330px;
				height: 320px;
				border-radius: 8%;
			}

		#products .card .contentBx {
			position: absolute;
			bottom: 0;
			width: 100%;
			height: 100px;
			text-align: center;
			transition: 1s;
			z-index: 90;
		}

		#products .card:hover .contentBx {
			height: 80px;
		}

		#products .card .contentBx small {
			position: relative;
			font-weight: 600;
			letter-spacing: 1px;
			color: #fff;
		}

		#products .card .contentBx .size {
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 8px 20px;
			transition: .5s;
			opacity: 0;
			visibility: hidden;
		}

			#products .card .contentBx .size h3 {
				color: white;
				font-weight: 300;
				font-size: 14px;
				text-transform: uppercase;
				letter-spacing: 2px;
				margin-right: 10px;
			}

			#products .card .contentBx .size span {
				width: 26px;
				height: 26px;
				text-align: center;
				line-height: 26px;
				font-size: 14px;
				display: inline-block;
				color: #111;
				background: #fff;
				margin: 0 5px;
				transition: .5s;
				color: #111;
				border-radius: 4px;
				cursor: pointer;
			}

	}
</style>

<style>
		.header {
		background-image: url("https://cafefcdn.com/thumb_w/650/pr/2022/photo1668073067169-16680730676531622073919-63804134661553.png");
		background-size: cover;
		height: 100vh;
		background-position: center;
		display: block;
		border: thin solid white;
	}
			.sell {
		background-image: url("https://www.bankrate.com/2022/07/07163148/should-i-sell-my-house-now-or-wait.jpg?auto=webp&optimize=high&crop=16:9");
		background-size: cover;
		height: 100vh;
		background-position: center;
		display: block;
	}
		#sell-info-1{
		background-color: rgba(0, 0, 0, 0.5);
		color: whitesmoke;
	}

		.rent {
		background-image: url("https://www.clevergirlfinance.com/wp-content/uploads/2021/05/Buying-a-house-to-rent-out.jpg");
		background-size: cover;
		height: 100vh;
		background-position: center;
		display: block;
	}

	#rent-info-2{
		color: whitesmoke;
	}

</style>

<div>
	<section id="intro" class="header m-2">
		<div class="container">
			<div class="row justify-content-center align-items-center">
				<div class="col-md-5 text-start text-md-center py-3 py-lg-2 rounded"
					 style="background-color: rgba(149, 165, 166, 0.6);margin-top: 15rem">
					<form action="#">
						<div class="input-group w-100"> <input type="text" class="form-control" placeholder="Search" style="width:55%;"> <button class="btn btn-outline-primary"> <i class="fa fa-search"></i> </button> </div> <!-- input-group end.// -->
					</form>
					<h1>
						<div class="display-6 fw-bold" style="color: #FFEA00;"> WELCOME TO <br> LQHV Realtors Portal</div>
						<div class="lead " style="color: white;">You're looking for some place...</div>
					</h1>
					<a href="#topic" class="btn btn-lg mb-2 rounded-right" style="background-color:#ff474c; color: white;">Discover Now</a>
				</div>
			</div>
		</div>
	</section>

	<!--Feature-->
	<div class="text-left mt-5 mb-1 py-3" style="padding-left:10rem" id="topic">
		<h1 class="fw-bold" style="padding-left:2rem">All of feature....</h1>
		<p class="lead">
			A quick glance at the overall about Realtors Portal you may enjoy
		</p>
	</div>
	<div id="products">
		<div class="product">
			@foreach (var item in Model)
			{
				@Html.Partial("Box", item)
			}
		</div>
	</div>
	<!--Feature End-->
	<!--Picnic Games Info-->
	<section id="activities" class="sell info-1 d-flex justify-content-center align-items-end">
		<div class="container mb-3 py-2 mb-md-1 mb-lg-0 py-lg-4 d-flex
        justify-content-center align-items-center">
			<div class="row text-center">
				<div class="col rounded pb-1 px-lg-4 py-2 mb-5 mb-md-0" id="sell-info-1">
					<h1 class="fw-bold">SELL</h1>
					<h4 class="pb-2">All of beautiful place for sell</h4>
					<a href="@Url.Action("Sell","Ads")" target="_self" rel="follow" aria-label="Learn more about Indoor Activity"
					   style="text-decoration: none; color: #ff474c;">
						Let's find out
						<i class="bi bi-chevron-compact-right"></i>
					</a>

				</div>
			</div>
		</div>
	</section>

	<section id="activities" class="rent info-2 d-flex justify-content-center">
		<div class="container my-5">
			<div class="row text-center">
				<div class="col rounded-3 p-3 " id="rent-info-2">
					<h1 class="fw-bold">RENT</h1>
					<h4 class="pb-2">All of beautiful placer for rent</h4>
					<a href="@Url.Action("Rent","Ads")" target="_self" rel="follow" aria-label="Learn more about Indoor Activity"
					   style="text-decoration: none; color: #3f43fd;">
						Let's find out
						<i class="bi bi-chevron-compact-right"></i>
					</a>
				</div>
			</div>
		</div>
	</section>

	<div class="container-fluid">
		<div class="container-fluid">
			<section class="py-md-5">
				<div class="row gx-5">
					<div class="col-lg">
						<div class="container-fluid pb-5 pb-md-0" style="padding-right: 10rem; padding-left: 10rem">
							<div class="row gx-5 row-cols-1 row-cols-md-2">
								<div class="col mb-5 h-100">
									<div class="feature  bg-gradient text-white rounded-3 mb-3">
										<i class="bi bi-collection"></i>
									</div>
									<img src="~/image/1.png" />
									<h2 class="h5">Most Properties</h2>
									<p class="mb-0">
										Find your dream home with the most comprehensive resale property database, discover high-rise properties such as HDB, condo and apartment or landed property for sale in VietNam.
									</p>
								</div>
								<div class="col mb-5 h-100" style="padding-top: 1rem;">
									<div class="feature  bg-gradient text-white rounded-3 mb-3">
										<i class="bi bi-info"></i>
									</div>
									<img src="~/image/2.png" />
									<h2 class="h5">User Reviews</h2>
									<p class="mb-0">
										On our Condo directory, you can find VietNam's most popular condominiums reviewed and rated by our users.
									</p>
								</div>
								<div class="col mb-5 mb-md-0 h-100">
									<div class="feature  bg-gradient text-white rounded-3 mb-3">
										<i class="bi bi-bullseye"></i>
									</div>
									<img src="~/image/3.png" />
									<h2 class="h5">Latest Launches</h2>
									<p class="mb-0">
										We provide comprehensive detail and our own property reviews on new condo launches, Executive Condominiums (EC), HDB BTO (Build-To-Order) and new homes in and around VietNam.
									</p>
								</div>
								<div class="col h-100">
									<div class="feature  bg-gradient text-white rounded-3 mb-3">
										<i class="bi bi-toggles2"></i>
									</div>
									<img src="~/image/4.png" />
									<h2 class="h5">Rental Properties</h2>
									<p class="mb-0">
										Make VietNam your home with most rental properties database, discover high-rise properties such as HDB, condo and apartment, landed property for rent or room rental in VietNam.
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</div>