@model List<ProductBox>
<style>

    .price {
        color: red;
        text-align: center;
        width: 320px;
    }

    .product {
        display: inline /*-block*/;
    }

    .card {
        display: inline-block;
        margin-left: 50px;
    }

    #products {
        position: relative;
    }

        #products .card {
            width: 320px;
            height: 320px;
            border-radius: 20px;
            overflow: hidden;
        }

            #products .card .imgBx {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                z-index: 1000;
                width: 100%;
                height: 100%;
                transition: .5s;
            }

                #products .card .imgBx img {
                    position: absolute;
                    left: -1.5%;
                    width: 330px;
                    height: 320px;
                    border-radius: 8%;
                }

            #products .card .contentBx {
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 100px;
                text-align: center;
                transition: 1s;
                z-index: 90;
            }

            #products .card:hover .contentBx {
                height: 80px;
            }

            #products .card .contentBx small {
                position: relative;
                font-weight: 600;
                letter-spacing: 1px;
                color: #fff;
            }

            #products .card .contentBx .size {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 8px 20px;
                transition: .5s;
                opacity: 0;
                visibility: hidden;
            }

                #products .card .contentBx .size h3 {
                    color: white;
                    font-weight: 300;
                    font-size: 14px;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    margin-right: 10px;
                }

                #products .card .contentBx .size span {
                    width: 26px;
                    height: 26px;
                    text-align: center;
                    line-height: 26px;
                    font-size: 14px;
                    display: inline-block;
                    color: #111;
                    background: #fff;
                    margin: 0 5px;
                    transition: .5s;
                    color: #111;
                    border-radius: 4px;
                    cursor: pointer;
                }

</style>
<style>

    .filter {
        list-style: none;
        margin: 0;
        padding: 0;
        /*          width: 320px;
                    height: 320px;
                    border-radius: 20px;
                    overflow: hidden;*/
    }

    .link {
        color: inherit;
        text-decoration: none;
    }


    /* Underline styles */
    .link {
        display: block;
        position: relative;
        padding: 0.2em 0;
    }

        /* Fade in */
        .link::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 0.1em;
            background-color: hotpink;
            opacity: 0;
            transition: opacity 300ms, transform 300ms;
        }

        .link:hover::after,
        .link:focus::after {
            opacity: 1;
            transform: translate3d(0, 0.2em, 0);
        }

    /* Slide in */
    .label:nth-child(2) .link {
        overflow: hidden;
    }

        .label:nth-child(2) .link::after {
            opacity 1;
            transform: translate3d(-100%, 0, 0);
        }

        .label:nth-child(2) .link:hover::after,
        .label:nth-child(2) .link:focus::after {
            transform: translate3d(0, 0, 0);
        }

    /* Scale from center */
    .label:nth-child(3) .link::after {
        opacity 1;
        transform: scale(0);
        transform-origin: center;
    }

    .label:nth-child(3) .link:hover::after,
    .label:nth-child(3) .link:focus::after {
        transform: scale(1);
    }
</style>

<div id="products">
    <center>
        <h1 id="All_product">Tất cả sản phẩm</h1>
    </center>
    <div class="product">
        <div class="card card-body" style="width:230px;height:400px">
            <ul class="filter" style="list-style-type:none,">
                <li>
                    <label>
                        Area:
                        <input list="browsers" name="myBrowser" />
                    </label>
                    <datalist id="browsers">
                        <option value="Chrome"></option>
                        <option value="Firefox"></option>
                        <option value="Internet Explorer"></option>
                        <option value="Opera"></option>
                        <option value="Safari"></option>
                        <option value="Microsoft Edge"></option>
                    </datalist>
                </li>
            </ul>
            <hr>
            <ul class="filter" style="list-style-type:none">
                <b>Thương hiệu: </b>
                @*                                    @foreach($brand as $b)
                *@
                <li class="label">
                    <a class="link" href="{{Route('user.showbrand',$b->id)}}">
                        {{ $b->brand_name }}
                    </a>
                </li>
                @*                                    @endforeach
                *@
            </ul>
            <hr>
            <b>Lọc theo giá</b>
            <ul class="filter" style="list-style-type:none">
                <li class="label">
                    <a class="link" href="{{Route('user.showprice',1)}}">
                        200.000 - 500.000Đ
                    </a>
                </li>
            </ul>
            <ul class="filter" style="list-style-type:none">
                <li class="label">
                    <a class="link" href="{{Route('user.showprice',2)}}">
                        500.000 - 700.000Đ
                    </a>
                </li>
            </ul>
            <ul class="filter" style="list-style-type:none">
                <li class="label">
                    <a class="link" href="{{Route('user.showprice',3)}}">
                        700.000 - 1.000.000Đ
                    </a>
                </li>
            </ul>
            <ul class="filter" style="list-style-type:none">
                <li class="label">
                    <a class="link" href="{{Route('user.showprice',4)}}">
                        1.000.000 - 1.500.000Đ
                    </a>
                </li>
            </ul>
            <ul class="filter" style="list-style-type:none">
                <li class="label">
                    <a class="link" href="{{Route('user.showprice',5)}}">
                        1.500.000 - 2.000.000Đ
                    </a>
                </li>
            </ul>
        </div>
        @foreach (var item in Model)
        {
            @Html.Partial("Box", item)
        }
    </div>
</div>
