@model List<ProductBox>
<style>

    .price {
        color: red;
        text-align: center;
        width: 320px;
    }

    .card {
        display: inline-block;
    }

    #products {
        position: relative;
    }

        #products .card {
            width: 320px;
            height: 320px;
            border-radius: 20px;
            overflow: hidden;
        }

            #products .card:before {
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: #1BBFE9;
                clip-path: circle(150px at 80% 20%);
                transition: 0.5s ease-in-out;
            }

            #products .card:hover:before {
                clip-path: circle(300px at 80% -20%);
            }


            #products .card:after {
                position: absolute;
                top: 30%;
                left: -20%;
                font-size: 12em;
                font-weight: 800;
                font-style: italic;
                color: rgba(255, 255, 255, 0.04);
            }

            #products .card .imgBx {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                z-index: 1000;
                width: 100%;
                height: 100%;
                transition: .5s;
            }

            #products .card:hover .imgBx {
                top: 0%;
                transform: translateY(-25%);
            }

            #products .card .imgBx img {
                position: absolute;
                left: -1.5%;
                width: 330px;
                height: 320px;
                border-radius: 8%;
            }

            #products .card .contentBx {
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 100px;
                text-align: center;
                transition: 1s;
                z-index: 90;
            }

            #products .card:hover .contentBx {
                height: 80px;
            }

            #products .card .contentBx small {
                position: relative;
                font-weight: 600;
                letter-spacing: 1px;
                color: #fff;
            }

            #products .card .contentBx .size {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 8px 20px;
                transition: .5s;
                opacity: 0;
                visibility: hidden;
            }

                #products .card .contentBx .size h3 {
                    color: white;
                    font-weight: 300;
                    font-size: 14px;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    margin-right: 10px;
                }

                #products .card .contentBx .size span {
                    width: 26px;
                    height: 26px;
                    text-align: center;
                    line-height: 26px;
                    font-size: 14px;
                    display: inline-block;
                    color: #111;
                    background: #fff;
                    margin: 0 5px;
                    transition: .5s;
                    color: #111;
                    border-radius: 4px;
                    cursor: pointer;
                }

</style>
          @*  <div class="content" style="width:200px; padding-top: 30px;">
                    <div class="card-body">
                        <div class="card-info card-outline">
                            <div class="card card card-body" style="width:230px;">
                                <b>Loại sản phẩm:</b>
                                <ul class="filter" style="list-style-type:none,">
                                    @foreach($category as $c)
                                    <li class="label"><a class="link" href="{{Route('user.showcategory',$c->id)}}">
                                            {{ $c->product_type_name }}
                                        </a></li>
                                    @endforeach
                                </ul>
                                <hr>
                                <ul class="filter" style="list-style-type:none">
                                    <b>Thương hiệu: </b>
                                    @foreach($brand as $b)
                                    <li class="label"><a class="link" href="{{Route('user.showbrand',$b->id)}}">
                                            {{ $b->brand_name }}
                                        </a></li>
                                    @endforeach
                                </ul>
                                <hr>
                                <b>Lọc theo giá</b>
                                <ul class="filter" style="list-style-type:none">
                                    <li class="label"><a class="link" href="{{Route('user.showprice',1)}}">
                                            200.000 - 500.000Đ
                                        </a></li>
                                </ul>
                                <ul class="filter" style="list-style-type:none">
                                    <li class="label"><a class="link" href="{{Route('user.showprice',2)}}">
                                            500.000 - 700.000Đ
                                        </a></li>
                                </ul>
                                <ul class="filter" style="list-style-type:none">
                                    <li class="label"><a class="link" href="{{Route('user.showprice',3)}}">
                                            700.000 - 1.000.000Đ
                                        </a></li>
                                </ul>
                                <ul class="filter" style="list-style-type:none">
                                    <li class="label"><a class="link" href="{{Route('user.showprice',4)}}">
                                            1.000.000 - 1.500.000Đ
                                        </a></li>
                                </ul>
                                <ul class="filter" style="list-style-type:none">
                                    <li class="label"><a class="link" href="{{Route('user.showprice',5)}}">
                                            1.500.000 - 2.000.000Đ
                                        </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>*@
<div id="products">
    <center>
        <h1 id="All_product">Tất cả sản phẩm</h1>
    </center> 
    <div class="product">
    @foreach(var item in Model){
            @Html.Partial("Box", item)
        }
    </div>
</div>
