@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@using Eproject_RealtorsPortal.Data;

@using (var connect = new LQHVContext())
{
    Eproject_RealtorsPortal.Models.Admin admin = ViewBag.admins;

    <section class="content pt-2 pb-1">
        <div class="container-fluid">
            <div class="row">
                <div class="offset-md-3 col-md-6">
                    <!-- general form elements -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Change Password - @admin.AdminName</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form asp-controller="Home" asp-action="ChangePassword" method="POST">
                            <input type="hidden" name="AdminId" value="@admin.AdminId" />
                            <div class="row">
                                <div class="col">
                                    <div class="card mb-4">
                                        <div class="card-header d-flex align-items-center justify-content-between">
                                            <small class="text-muted">For account security, please do not share your password with others</small>
                                        </div>
                                        <div class="card-body">
                                            <div class="form-group">
                                                <div class="d-flex justify-content-between">
                                                    <label class="form-label" for="Current Password"> Current Password  <small style="color: red;">*</small></label>
                                                </div>
                                                <div class="input-group">
                                                    <input type="password" name="oldPassword" required class="form-control" aria-describedby="basic-default-password2" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="form-label" for="A New Password">A New Password  <small style="color: red;">*</small></label>
                                                <div class="input-group">
                                                    <input type="password" name="newPassword" required class="form-control" aria-describedby="basic-default-password2" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="form-label" for="Confirm Password">Confirm Password  <small style="color: red;">*</small></label>
                                                <div class="input-group">
                                                    <input type="password" name="ConfirmNewPassword" required class="form-control" aria-describedby="basic-default-password2" />
                                                </div>
                                            </div>

                                            @if (@ViewBag.result != null)
                                            {
                                                <p style="color: red">@ViewBag.result</p>
                                            }
                                            <div class="row justify-content-end pt-2">
                                                <div class="col-sm-10">
                                                    <button type="submit" class="btn btn-primary me-2">Save changes</button>
                                                    <button type="reset" class="btn btn-outline-danger">Cancel</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div>
    </section>
}
<script src="~/admin/plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        bsCustomFileInput.init();
    });
</script>



