@{
    ViewData["Title"] = "AccountProfile";
    Layout = "~/Views/Shared/_layout_UserHome.cshtml";
}

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">User /</span>Account Profile</h4>

    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-pills flex-column flex-md-row mb-3">
                <li class="nav-item">
                    <a class="nav-link active" href="javascript:void(0);"><i class="bx bx-user me-1"></i> Account</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("ChangePassword","UserHome")"><i class='bx bx-lock-alt'></i></i> Change Password</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("AuthenticationForm","UserHome")"><i class="bx bx-link-alt me-1"></i> Connections</a>
                </li>
            </ul>
            <div class="card mb-4">
                <h5 class="card-header">Profile Details</h5>
                <!-- Account -->
                <div class="card-body">
                    <div class="d-flex align-items-start align-items-sm-center gap-4">
                        <img src="~/assets/img/avatars/1.png"
                             alt="user-avatar"
                             class="d-block rounded"
                             height="100"
                             width="100"
                             id="uploadedAvatar" />
                        <div class="button-wrapper">
                            <label for="upload" class="btn btn-primary me-2 mb-4" tabindex="0">
                                <span class="d-none d-sm-block">Upload new photo</span>
                                <i class="bx bx-upload d-block d-sm-none"></i>
                                <input type="file"
                                       id="upload"
                                       class="account-file-input"
                                       hidden
                                       accept="image/png, image/jpeg" />
                            </label>
                            <button type="button" class="btn btn-outline-secondary account-image-reset mb-4">
                                <i class="bx bx-reset d-block d-sm-none"></i>
                                <span class="d-none d-sm-block">Reset</span>
                            </button>

                            <p class="text-muted mb-0">Allowed JPG, GIF or PNG. Max size of 800K</p>
                        </div>
                    </div>
                </div>
                <hr class="my-0" />
                <div class="card-body">
                    <div class="col-xxl">
                        <div class="card mb-4">
                            <div class="card-header d-flex align-items-center justify-content-between">
                                <h5 class="mb-0">My profile</h5>
                                <small class="text-muted float-end">Manage profile information for account security</small>
                            </div>
                            <div class="card-body">
                                <form>
                                    <div class="row mb-3">
                                        <label class="col-sm-2 col-form-label" for="basic-icon-default-fullname">Full Name</label>
                                        <div class="col-sm-10">
                                            <div class="input-group input-group-merge">
                                                <span id="basic-icon-default-fullname2" class="input-group-text">
                                                    <i class="bx bx-user"></i>
                                                </span>
                                                <input type="text"
                                                       class="form-control"
                                                       id="basic-icon-default-fullname"
                                                       placeholder="Huyen Le"
                                                       aria-label="Huyen Le"
                                                       value=""
                                                       aria-describedby="basic-icon-default-fullname2" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label class="col-sm-2 col-form-label" for="basic-icon-default-company">Gender</label>
                                        <div class="col-sm-10">
                                            <div class="form-check mt-3 pb-1">
                                                <input name="default-radio-1"
                                                       class="form-check-input"
                                                       type="radio"
                                                       value=""
                                                       id="male" />
                                                <label class="form-check-label" for="defaultRadio1"> Male </label>
                                            </div>
                                            <div class="form-check">
                                                <input name="default-radio-1"
                                                       class="form-check-input"
                                                       type="radio"
                                                       value=""
                                                       id="female"
                                                       checked />
                                                <label class="form-check-label" for="defaultRadio2"> Female </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label class="col-sm-2 col-form-label" for="basic-icon-default-email">Email</label>
                                        <div class="col-sm-10">
                                            <div class="input-group input-group-merge">
                                                <span class="input-group-text"><i class="bx bx-envelope"></i></span>
                                                <input type="text"
                                                       id="basic-icon-default-email"
                                                       class="form-control"
                                                       placeholder="huyen.0210"
                                                       value=""
                                                       aria-label="huyen.0210"
                                                       aria-describedby="basic-icon-default-email2" />
                                                <span id="basic-icon-default-email2" class="input-group-text">&commat;gmail.com</span>
                                            </div>
                                            <div class="form-text">You can use letters, numbers & periods</div>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label class="col-sm-2 form-label" for="basic-icon-default-phone">Phone Number</label>
                                        <div class="col-sm-10">
                                            <div class="input-group input-group-merge">
                                                <span id="basic-icon-default-phone2" class="input-group-text">
                                                    <i class="bx bx-phone"></i>
                                                </span>
                                                <input type="text"
                                                       id="basic-icon-default-phone"
                                                       value=""
                                                       maxlength="12"
                                                       class="form-control phone-mask"
                                                       placeholder="658 799 8941"
                                                       aria-label="658 799 8941"
                                                       aria-describedby="basic-icon-default-phone2" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label class="col-sm-2 form-label" for="basic-icon-default-message">Address</label>
                                        <div class="col-sm-10">
                                            <div class="input-group input-group-merge">
                                                <span id="basic-icon-default-message2" class="input-group-text">
                                                    <i class="bx bx-map"></i>
                                                </span>
                                                <textarea id="basic-icon-default-message"
                                                          class="form-control"
                                                          placeholder="Ho Chi Minh City, Vietnam"
                                                          aria-label="Ho Chi Minh City, Vietnam"
                                                          aria-describedby="basic-icon-default-message2"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row justify-content-end">
                                        <div class="col-sm-10">
                                            <button type="submit" class="btn btn-primary me-2">Save changes</button>
                                            <button type="reset" class="btn btn-outline-secondary">Cancel</button>

                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Account -->
            </div>
        </div>
    </div>
</div>
