@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Views/Shared/_layout_UserHome.cshtml";
}

<div class="container-xxl">
    <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner py-4">
            <!-- Forgot Password -->
            <div class="card">
                <div class="card-body">
                    <!-- Logo -->
                    <div class="app-brand justify-content-center">
                        <a href="index.html" class="app-brand-link gap-2">
                            <div class="app-brand demo">
                                <a href="@Url.Action("Index","Home")" class="app-brand-link">
                                    <svg width="200" viewBox="0 0 200 100" xmlns="http://www.w3.org/2000/svg">
                                        <path fill="none"
                                              stroke="lightgrey"
                                              d="M20,50 C20,-50 180,150 180,50 C180-50 20,150 20,50 z" />

                                        <circle r="4" fill="red">
                                            <animateMotion dur="10s"
                                                           repeatCount="indefinite"
                                                           path="M20,50 C20,-50 180,150 180,50 C180-50 20,150 20,50 z" />
                                        </circle>
                                        <text x="65" y="55" class="Rrrrr">LQHV</text>
                                    </svg>
                                </a>

                                <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
                                    <i class="bx bx-chevron-left bx-sm align-middle"></i>
                                </a>
                            </div>
                        </a>
                    </div>
                    <!-- /Logo -->
                    <h4 class="mb-2">Forgot Password? 🔒</h4>
                    <p class="mb-4">Enter your email and we will send you a verification code to reset your password</p>
                    <form id="formAuthentication" class="mb-3" action="index.html" method="POST">
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="text"
                                   class="form-control"
                                   id="email"
                                   name="email"
                                   placeholder="Enter your email"
                                   autofocus />
                        </div>
                        <div class="d-grid gap-2 col-lg-6 mx-auto">
                            <button class="btn btn-primary d-grid w-100">Send Reset Link</button>
                        </div>
                    </form>
                    <div class="text-center">
                        <a href="@Url.Action("ChangePassword","UserHome")" class="d-flex align-items-center justify-content-center">
                            <i class="bx bx-chevron-left scaleX-n1-rtl bx-sm"></i>
                            Back to login
                        </a>
                    </div>
                </div>
            </div>
            <!-- /Forgot Password -->
        </div>
    </div>
</div>


