@{
    ViewData["Title"] = "Home User";
    Layout = "~/Views/Shared/_layout_UserHome.cshtml";
}
<div class="container">
    <nav class="navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme">

        <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
            <!-- Search -->
            <div class="navbar-nav align-items-center">
                <div class="nav-item d-flex align-items-center">
                    <i class="bx bx-search fs-4 lh-0"></i>
                    <input type="text"
                           class="form-control border-0 shadow-none"
                           placeholder="Search..."
                           aria-label="Search..." />
                </div>
            </div>
            <!-- /Search -->
        </div>
    </nav>

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p> Home Page</p>
        <a href="#" class="btn btn-danger">
            <i class="fas fa-plus-circle fa-lg"></i>
            Post new
        </a>
    </div>

    <div class="buy-now">
        <a href="@Url.Action("Index", "Packages")"
           class="btn btn-danger btn-buy-now">Upgrade to Pro</a>
    </div>

