
@{
    ViewData["Title"] = "FAQs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="pb-4 mt-5">
   <h3 style="font-family: Poppins; font-size: 35px; font-weight: 800!important; color: #3c3950;"><strong><b>FAQs on Real Estate</b></strong></h3>
     <div class="bg-white border rounded-5 border-white">
    
      <section class="p-4 d-flex justify-content-center w-100 "
        style="border-radius: .5rem .5rem 0 0; background-color: #f2f2f2;">
        <!--Section: FAQ-->
        <div class="row">
          <div class="col-lg-6 col-md-12 mb-4">

            <!--Questions -->
            <section>

              <!--Question -->
              <div>
                <p class="mb-1">
                  <strong>Why Should I Pay, Instead Of Rent <i class="fa fa-question" aria-hidden="true"></i> </strong>
                </p>
                <p class="mb-1">
                    <u>A home is an investment.</u>
                    When you rent, you write your monthly check and that money is gone forever. 
                    But when you own your home, you can deduct the cost of your mortgage loan interest from your income taxes,
                    and usually from your taxable income. This will save you a lot each year, 
                    because the interest you pay will make up most of your monthly payment for most of the years of your mortgage. 
                    In addition, the value of your home may go up over the years. Finally,
                    you’ll enjoy having something that’s all yours – a home where your own personal style will tell the world who you are.
                </p>
              </div>
              <!--Question -->
              <div>
                <p class="mb-1">
                  <strong>What Are The Tax Advantages Of Buying A House <i class="fa fa-question" aria-hidden="true"></i> </strong>
                </p>
                <p class="mb-1">
                  In most cases, the mortgage interest (and property tax) may be itemized and deducted from your taxable income, 
                  lowering your overall tax bill. This can make your after-tax cost of home ownership lower than renting.
                  However, there may be tax implications if you later sell the home at a profit. 
                  Please consult your tax adviser regarding interest deductibility.
                </p>
              </div>
            </section>

              <!--Question -->
              <div>
                <p class="mb-1">
                  <strong>What if my offer is rejected <i class="fa fa-question" aria-hidden="true"></i> </strong>
                </p>
                <p class="mb-1">
                  They often are!
                  But don’t let that stop you. Now you begin negotiating. Your broker will help you. 
                  You may have to offer more money, 
                  but you may ask the seller to cover some or all of your closing costs or to make repairs that wouldn’t normally be expected. 
                  Often, negotiations on a price go back and forth several times before a deal is made. 
                  Just remember – don’t get so caught up in negotiations that you lose sight of what you really want and can afford!
                </p>
              </div>
              <!--Question -->
              <div>
                <p class="mb-1">
                  <strong>How Much Is My House Worth <i class="fa fa-question" aria-hidden="true"></i> </strong>
                </p>
                <p class="mb-1">
                  The big question. You can’t get too far selling your home if you can’t put a price on it. 
                  If you hire a full-service real estate agent, they will use “comps”, short for comparables,
                  to help draw an accurate picture of what your home is currently worth.
                  Agents also draw upon years of experience and local, neighborhood insight to price your home.
                </p>
                <p class="mb-1">
                  If you’re a FSBO (For Sale By Owner), you can do some homework online and come up with a listing price on your own.
                  Visit sites such as MagicBricks, 99Acres, CommonFloor and search for homes in your neighborhood or town. 
                  Compare your home to the homes for sale or recently sold, and make your own valuation based on square footage. 
                  You can also spend a few bucks and hire a home appraiser, who will give you a full report and a number.
                </p>
              </div>        
              <!--Question -->
              <div>
                <p class="mb-1">
                  <strong>What Is The Difference Between A List Price And Sale Price <i class="fa fa-question" aria-hidden="true"></i> </strong>
                </p>
                <p class="mb-1">
                  A list price is how much the seller lists the home for, also referred to as their “asking price.” The sale price is the amount the home actually sells for.
                </p>
              </div>                 
          </div>

          <div class="col-lg-6 col-md-12">
              <!--Question -->
              <div>
                <p class="mb-1">
                  <strong>What Do Seller's Agent Do <i class="fa fa-question" aria-hidden="true"></i> </strong>
                </p>
                <p class="mb-1">
                 Bottom line, if you’re a home seller, you want a real estate agent who sells your home as quickly as possible for as much as possible. But what specific actions does the agent take to achieve that goal?
                </p>
                <p class="mb-1">
                 An agent or Realtor’s first step is to price your home correctly. Next, they will help the seller with recommendations on decluttering, curb appeal and small repairs. Then they will list the home and market the home through a mix of traditional and digital channels. Staging and showing the home comes next, followed by (hopefully!) helping the seller negotiate with buyers.
                </p>
                <p class="mb-1">
                 Of course, the above list is a highlight of the main things a seller’s agent will do in any successful transaction. However, there are many other details and duties an agent will complete on your behalf.
                </p>
              </div>  
              <!--Question -->
              <div>
                <p class="mb-1">
                  <strong>How To Increase Home Value <i class="fa fa-question" aria-hidden="true"></i> </strong>
                </p>
                <p class="mb-1">
                 There are many ways to add to your home’s value, including simply making your monthly mortgage payments!
                </p>
                <p class="mb-1">
                 Some of the more popular moves to make include making small upgrades to the bathroom and kitchen: change out handles and fixtures, put in low-flow toilets, and paint or stain cabinets.
                </p>
                <p class="mb-1">
                 Go green by adding solar panels and consider putting in a tankless water heater. A relatively cheap way to spruce up your landscaping is to revive your lawn by laying new sod. A fresh coat of paint and new flooring will also go a long way in justifying your asking price.
                </p>
              </div>  
              <!--Question -->
              <div>
                <p class="mb-1">
                  <strong>How Long Does It Take To Sale A House <i class="fa fa-question" aria-hidden="true"></i> </strong>
                </p>
                <p class="mb-1">
                  The un-official, the statistical answer is 65-90 days. However, this is one of those questions where more than one answer applies. The best of those being, “it depends.”
                </p>
                @*<p class="mb-1">
                  In a hot, seller’s market, agents will tell you that a home shouldn’t last more than three weeks. In a buyer’s market, homes might sit for a month or two before an offer comes through. Again, it all depends on factors such as inventory, the economy, the zip code, the season, if it was priced too high, etc.
                </p>*@
              </div> 
              <br /><br />
              
            <!--Section: Contact Form-->
            <section>
              <p>
                <span class="fw-bold">
                  Still Have Any Questions? Contact Us To Get Your Answer!</span>
              </p>
              <form action="" method="POST" class="faq-contact-form">

                <!-- Email input -->
                <div class="form-outline mb-1">
                  <input type="email" id="form4Example2" class="form-control" name="email" placeholder="Email Address" required />
                  <label class="form-label" for="form4Example2"></label>
                </div>
                <!-- Message input -->
                <div class="form-outline mb-2">
                  <textarea class="form-control" id="form4Example3" rows="4" name="message" placeholder="Your Message" required></textarea>
                  <label class="form-label" for="form4Example3"></label>
                </div>

                <!-- Submit button -->
                  <input type="submit" class="btn btn-primary btn-block mb-4 faq-contact-form-submit" value="SEND">
                  <input type="hidden" name="recaptcha-response" id="recaptchaFaqForm">
              </form>

            </section>
          </div>
        </div>
        <!--Section: FAQ-->
      </section>        
      
  </div>
</section>